
body {
	font-family: arial;
}

#main-header {
	text-align: center;
}

#container {
	display: flex;
}

#visualization-container {
	width: 60vw;
	height: 50vh;
	max-height: 100vh;
}

#column-right {
	width: 40vw;
	height: 50vh;
	max-height: 100vh;
}

.visualization{
	height: 50;
	width: 100;
	max-height: 100vh;
}

.axis {
	stroke-width: 4;
}

circle {
	fill: blueviolet;
}

circle:hover {
	fill: orange;
	opacity: 1;
}

circle:click {
	stroke: black;
	opacity: 1;
}

#acknowledgements {
	font-size: 22px;
	text-align: center;
}

.border-item {
	stroke: black;
	stroke-width: 4px;
}

#add-point {
  margin-top: 20px;
  padding: 10px;
  
}
#add-point label {
  margin-right: 5px;
}
#add-point input {
  width: 30px;
  margin-right: 10px;
}
